DJANGO_SECRET_KEY=change-me-change-me-change-me-32!
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Asia/Amman
SQLITE_NAME=db.sqlite3

CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000

JWT_ACCESS_COOKIE_NAME=clinic_access_token
JWT_REFRESH_COOKIE_NAME=clinic_refresh_token
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7
JWT_COOKIE_SECURE=false
JWT_COOKIE_SAMESITE=Lax

AXES_FAILURE_LIMIT=5
AXES_COOLOFF_MINUTES=30
