APP_BASE_URL=http://localhost:3000
PATIENT_A_USERNAME=test_patient_a
PATIENT_A_PASSWORD=PatA_Pass123!
PATIENT_B_USERNAME=test_patient_b
PATIENT_B_PASSWORD=PatB_Pass123!
RECEPTIONIST_USERNAME=test_receptionist
RECEPTIONIST_PASSWORD=Recept_Pass123!
DOCTOR_USERNAME=test_doctor
DOCTOR_PASSWORD=Doctor_Pass123!
ADMIN_USERNAME=test_admin
ADMIN_PASSWORD=Admin_Pass123!
